[Unit]
Description=Plantd Master Service
After=network.target

[Service]
Type=simple
WorkingDirectory={{ plantd_master_srcdir }}
ExecStart={{ plantd_master_srcdir }}/bin/master-master-linux-amd64
Restart=on-failure

[Install]
WantedBy=multi-user.target
